<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title | escape }} | {{ site.title | escape }}</title>

  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/quote.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/font.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/term.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/normalize.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/open-color.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/monophase/styles.css' | relative_url }}">
  {% feed_meta %}
  {% seo %}
  
  <script>
window.MathJax = {
  tex: { inlineMath: [['$', '$']] }
};
</script>
<script async src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>
  
{% include custom-head.html %}
  
  <script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$','$$'], ['\\[','\\]']]
  },
  options: {
    skipHtmlTags: ['script', 'noscript', 'style', 'textarea']
  }
};
</script>

<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N54R21G5RT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-N54R21G5RT', {
    anonymize_ip: true
  });
</script>
  
</head>