blockquote::before,
blockquote::after {
  content: none;
}

article.post blockquote {
  padding: 0;
  border: none;
  text-align: center;
  font-style: normal;
}

article.post blockquote p {
  margin: 0;
  padding: 0;
  text-align: center;
}