blockquote::before,
blockquote::after {
  content: none;
}

article.post blockquote {
  margin: 0;
  padding: 4em 0;
  border: none;
  text-align: center;
  font-style: normal;
  background: rgba(255, 0, 0, 0.1);
}
  
}

article.post blockquote p {
  margin: 0;
  padding: 0;
  text-align: center;
}