.content li mjx-container {
  line-height: 1 !important;
  vertical-align: middle;
}

.page__content blockquote {
  margin: 4em 0;
  padding: 0;
  text-align: center;
  border: none;
  background: none;
  font-style: normal;
}

.page__content blockquote p {
  margin: 0;
}