/* Nimbus Roman Regular */
@font-face {
  font-family: 'NimbusRoman';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/NimbusRoman-Regular.woff2') format("woff2");
}

/* Nimbus Roman Bold */
@font-face {
  font-family: 'NimbusRoman';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/NimbusRoman-Bold.woff2') format("woff2");
}

/* KoPubWorld Dotum Light */
@font-face {
  font-family: 'KoPubWorldDotum';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/KoPubWorldDotum-Light.woff2') format("woff2");
  unicode-range: U+AC00-D7A3;
}

/* KoPubWorld Dotum Bold */
@font-face {
  font-family: 'KoPubWorldDotum';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/KoPubWorldDotum-Bold.woff2') format("woff2");
  unicode-range: U+AC00-D7A3;
}

/* 영어 기본 Nimbus, 한글은 KoPub */
html {
  font-family: 'KoPubWorldDotum', 'NimbusRoman', serif;
}

/* 명시적 한국어 */
:lang(ko) {
  font-family: 'KoPubWorldDotum', sans-serif !important;
}

/* 명시적 영어 */
:lang(en) {
  font-family: 'NimbusRoman', serif !important;
}