/* Nimbus Roman Regular */
@font-face {
  font-family: 'NimbusRoman-Regular';
  src: url('../fonts/NimbusRoman-Regular.woff2') format("woff2");
}

/* Nimbus Roman Bold */
@font-face {
  font-family: 'NimbusRoman-Bold';
  src: url('../fonts/NimbusRoman-Bold.woff2') format("woff2");
}

/* KoPubWorld Dotum Light */
@font-face {
  font-family: 'KoPubWorldDotum-Light';
  src: url('../fonts/KoPubWorldDotum-Light.woff2') format("woff2");
  unicode-range: U+AC00-D7A3;
}

/* KoPubWorld Dotum Bold */
@font-face {
  font-family: 'KoPubWorldDotum-Bold';
  src: url('../fonts/KoPubWorldDotum-Bold.woff2') format("woff2");
  unicode-range: U+AC00-D7A3;
}

/* 영어 기본 Nimbus, 한글은 KoPub */
html {
  font-family: 'KoPubWorldDotum-Light', 'NimbusRoman-Regular', serif;
}