/* =========================
   Latin — Nimbus Roman
   ========================= */
@font-face {
  font-family: 'NimbusRoman';
  src: url('../fonts/NimbusRoman-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


/* =========================
   Global
   ========================= */
html {
  font-family: 'KoPubBatang', 'KoPubDotum', 'NimbusRoman', serif;
}

/* 기본은 한글 */
body {
  font-family: 'KoPubBatang', serif;
  font-weight: 300;
}

/* 영어 전용 */
:lang(en) {
  font-family: 'NimbusRoman', serif;
  font-size: 1.1em;
  font-weight: inherit;
}

