/* =========================
   Korean — KoPubWorldDotum
   ========================= */
@font-face {
  font-family: 'KoPub';
  src: url('../fonts/KoPubWorldDotum-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'KoPub';
  src: url('../fonts/KoPubWorldDotum-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'KoPub';
  src: url('../fonts/KoPubWorldDotum-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}


/* =========================
   Latin — Nimbus Roman
   ========================= */
@font-face {
  font-family: 'NimbusRoman';
  src: url('../fonts/NimbusRoman-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NimbusRoman';
  src: url('../fonts/NimbusRoman-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


/* =========================
   Global
   ========================= */
html {
  font-family: 'KoPub', 'NimbusRoman', serif;
}

/* 기본은 한글 */
body {
  font-family: 'KoPub', serif;
}

/* 영어 전용 */
:lang(en) {
  font-family: 'NimbusRoman', serif;
  font-size: 1.08em;
}

