/* KoPubWorldDotum (Korean) */
@font-face {
  font-family: 'KoPub';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/KoPubWorldDotumLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'KoPub';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/KoPubWorldDotumBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}

/* TeX Gyre Termes (Latin) */
@font-face {
  font-family: 'Termes';
  src: url('https://cdn.jsdelivr.net/npm/@fontsource/tex-gyre-termes/files/tex-gyre-termes-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-024F;
}

@font-face {
  font-family: 'Termes';
  src: url('https://cdn.jsdelivr.net/npm/@fontsource/tex-gyre-termes/files/tex-gyre-termes-latin-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-024F;
}

/* default font settings */
html {
  font-family: 'KoPub', 'Termes', serif;
  font-weight: 300;
}