/* KoPubWorldDotum (Korean) */
@font-face {
  font-family: 'KoPub';
  src: url('/assets/fonts/KoPubWorldDotum-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KoPub';
  src: url('/assets/fonts/KoPubWorldDotum-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KoPub';
  src: url('/assets/fonts/KoPubWorldDotum-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* TeX Gyre Termes (Latin) */
@font-face {
  font-family: 'Termes';
  src: url('https://cdn.jsdelivr.net/npm/@fontsource/tex-gyre-termes/files/tex-gyre-termes-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-024F;
}

@font-face {
  font-family: 'Termes';
  src: url('https://cdn.jsdelivr.net/npm/@fontsource/tex-gyre-termes/files/tex-gyre-termes-latin-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-024F;
}

/* default font settings */
html {
  font-family: 'KoPub', 'Termes', serif;
}

body {
  font-family: KoPub !important;
}