.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  font-family: 'NimbusRoman', serif !important;
  font-weight: 700 !important;
}

.post-category {
  display: inline;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 2px;
}