.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  font-family: 'NimbusRoman', 'KoPubDotum', serif !important;
  font-weight: 700 !important;
}