---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "custom/fonts";
@import "custom/scrollbar";
@import "custom/quiz";
@import "custom/katex";
@import "custom/codeblock";
@import "custom/module";
@import "custom/image";
@import "custom/adsense";

/* 카테고리 링크: 글자 끝까지만 밑줄 */
.post-categories a.post-category {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;

  text-decoration: none !important;
  border-bottom: 1px solid currentColor;
  line-height: 1;
}

/* 카테고리 링크 밑줄: box-shadow 완전 제거 */
.post-categories a.post-category {
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}