<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  {% include head.html %}
</head>

<script>
document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll('.term').forEach(el => {
    el.innerHTML = el.textContent.replace(
      /([A-Za-z][A-Za-z0-9\-]*)/g,
      '<span lang="en">$1</span>'
    );
  });
});
</script>

  <body>

    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <p>{{ site.title }} © {{ site.time | date: "%Y" }}</p>
      </div>
    </footer>

  </body>

</html>